.page-container {
    outline: none !important;
    background: #fff;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 100%;
    display: block;
}

.page-title {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0.15rem 1rem 0 rgba(58, 59, 69, 0.2);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #328569;
    font-weight: 700;
    text-align: left;
    padding-left: 60px;
    font-size: 1.802rem;
}

.page-content {
    color: #565656;
    padding: 0 45px 30px;
}

@media (max-width: 1366px) {
    .page-content {
        flex-direction: column;
    }
}
