*[userrights="readonly"] button {
    display: none;
}

webc-datatable.products-table[userrights="readonly"] .view-edit-button {
    display: block;
    pointer-events: all;
    opacity: 1;
}

webc-datatable.products-table[userrights="readonly"] .view-edit-button span.edit-rights {
    display: none;
}

.products-container .view-edit-button span.readonly-rights {
    display: none;
}

webc-datatable.products-table[userrights="readonly"] .view-edit-button span.readonly-rights {
    display: block;
}


.products-container .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #dee2e6;
    border-radius: 7px;
}

.fist-table-header {
    border-top-left-radius: 7px;
}

.last-table-header {
    border-top-right-radius: 7px;
}

.validity .fa-ban,
.validity .fa-check {
    display: none;
    font-size: 0.8rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container .next-page-btn {
    margin-left: 15px;
}

.pagination-container .prev-page-btn {
    margin-right: 15px;
}
