.audit-logs-container .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border: 1px solid #dee2e6;
    border-radius: 7px;
}

.audit-logs-container .search-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px;
}
