.audit-logs-container .webc-datatable--container {
    display: grid;
    border: 1px solid #dee2e6;
    border-radius: 7px;
}

.edit-actions-tab .webc-datatable--container {
    grid-template-columns: repeat(6, 1fr);
}

.login-actions-tab .webc-datatable--container {
    grid-template-columns: repeat(5, 1fr);
}

.audit-logs-container .search-container.hiddenElement,
.login-search-container .search-container.hiddenElement {
    display: none;
}

.audit-logs-container .search-container {
    display: flex;
    justify-content: space-between;
}

.search-container.audit-search-container {
    padding-bottom: 0px;
}

