<link href="components/upload-file/style.css" rel="stylesheet">

<webc-container controller="components/UploadFileController" data-view-model="@">
    <div class="file-upload-container">
        <button class="upload-files-btn" data-tag="upload-files">{{@label}}</button>
        <input type="file" multiple class="hidden" directory mozdirectory webkitdirectory required/>

        <div data-if="@list-files">
            <div data-for="@uploadedFiles" class="files-list">
                <!--            <div class="file-li-element">-->
                <!--                <button type="button" class="btn btn-secondary trashButton"><span>×</span></button>-->
                <!--                <p>cosentyx-16.jpg</p></div>-->

                <div class="file-li-element">
                    <button type="button" class="btn btn-secondary trashButton"><span>×</span></button>
                    <p>{{@name}}</p>
                </div>

            </div>
        </div>

    </div>
</webc-container>
