webc-app-container {
    --background: transparent;
    position: relative;
}

webc-app-menu[mode=vertical] {
    --background: #f9b123;
    --min-width: 240px;
}

webc-app-menu[mode=mobile] {
    --background: #f9b123;
}

webc-modal {
    --header-button-background: none !important;
}

webc-modal .header-color {
    color: #565656 !important;
}

psk-page::part(page-main) {
    height: 100%;
}

.standard-label {
    font-size: 20px;
}

.wallet-ssi {
    font-size: 20px;
}

.authorization {
    font-size: 30px;
}

.webc-datatable--header {
    font-size: 110%;
    font-weight: bold;
}
.success-messages-tab .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.failed-messages-tab .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 40px;
}

.webc-datatable--header,
.data-item {
    border-top: 1px solid #dee2e6;
    padding: 0.75rem;
}

