.success-messages-tab .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.failed-messages-tab .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(6, 1fr) 40px;
}

.import-btn {
    height: 36px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.prev-page-btn,
.next-page-btn {
    background-color: #328569;
    border-style: none;
    box-shadow: none;
    border: 1px solid #328569;
    color: white;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.prev-page-btn[disabled],
.next-page-btn[disabled] {
    opacity: 0.6;
}

#code-search {
    border-radius: 4px;
    margin: 10px;
    padding: 3px 8px;
    border: 1px solid #328569;
    max-width: 250px;
}

#code-search:focus {
    outline: none;
}

.validity .fa-ban,
.validity .fa-check {
    display: none;
}

webc-spinner>.circle-fade {
    left: 125px;
}

.page-container {
    outline: none !important;
    background: #fff;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
    overflow-y: auto;
    height: 100%;
    display: block;
}


.page-content {
    color: #565656;
    padding: 0 45px 30px;
}

@media (max-width: 1366px) {
    .page-content {
        flex-direction: column;
    }
}
@media screen and (max-width: 960px) {
    webc-spinner {
        left: 0px;
    }
}
