*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: #0056b3;
    text-decoration: none;
}

.page_content {
    position: relative;
}

.menu {
    gap: 2em;
    padding: 170px 2em 2em 80px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu webc-link span {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
    padding: 2em 1em;
    border-radius: 5px;
    color: #097C55;
    font-size: 24px;
    font-weight: 800;
    min-width: 230px;
}

/*

.menu webc-link:nth-child(1) span {
    background: linear-gradient(225deg, #9ACFBD 0%, #328569 100%);
}

.menu webc-link:nth-child(1):hover span {
    background: linear-gradient(150deg, #9ACFBD 0%, #328569 100%);
}

.menu webc-link:nth-child(2) span {
    background: linear-gradient(225deg, #9ACFBD 0%, #328569 100%);
}

.menu webc-link:nth-child(2):hover span {
    background: linear-gradient(150deg, #9ACFBD 0%, #328569 100%);
}

.menu webc-link:nth-child(3) span {
    background: linear-gradient(125deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}

.menu webc-link:nth-child(3):hover span {
    background: linear-gradient(175deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}

.menu webc-link:nth-child(4) span {
    background: linear-gradient(125deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}

.menu webc-link:nth-child(4):hover span {
    background: linear-gradient(175deg, #976ff9 0%, #784BA0 1%, #2B86C5 99%);
}
*/
.menu webc-link {
    background: #ffffff;
    width: 420px;
    box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.25);
    border-radius: 18px;
}

.menu webc-link span img {
    height: 41px;
}

.menu webc-link span p {
    font-size: 110%;
    margin-bottom: 0px;
}

@media screen and (max-width: 900px) {
    .menu {
        grid-template-columns: 1fr;
    }
}