@import url("./fonts/fontawesome/font-awesome.min.css");
@import url("./fonts/nunito.css");
@import url("./bootstrap/css/bootstrap.min.css");

body {
  font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
}

pre {
  overflow: hidden;
  padding: 10px;
  background: #FFFFFF;
  white-space: pre-wrap;
  color: #565656;
}
pre code{
  font-size: 16px;
  line-height: 2rem;
}

.main-container {
  height: 100% !important;
}

.main-layout {
  height: 100%;
}

.default-button {
  background-color: #328569;
  box-shadow: none;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: 0;
  margin-right: 10px;
  margin-bottom: 6px;
}

.default-button:not(:disabled) {
  cursor: pointer;
}

.default-button:disabled {
  background: #dee2e6;
  color: grey;
}
