@import url("./fonts/fontawesome/font-awesome.min.css");
@import url("./fonts/nunito/nunito.css");
@import url("./bootstrap/css/bootstrap.min.css");

:root {
  --webc-app-menu-mode: none
}

webc-modal{
  --header-button-background: none !important;
}
webc-modal .header-color{
  color: #565656 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family:Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
}

html, body{
  height: 100%;
}

pre {
  overflow: hidden;
  padding: 10px;
  background: #E9E9E9;
  white-space: pre-wrap;
  color: #005cbf;
}

header {
  background: #7aa354;
}

webc-app-menu[mode=vertical]  {
  background: #f9b123!important;
}

.main-container{
  height: 100% !important;
}

.main-layout {
  height: 100%;
}


aside {
  height: 100%;
  background-color: #f9b123;
  background-image: linear-gradient(180deg, #f9b123 30%, #d2931a 100%);
  color: white;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  order: 1;
  flex: 1;
  max-width: fit-content;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scrollbar-color: #f9b123 #E5E5E5;
  scrollbar-width: thin;
  position: relative;
}

aside::-webkit-scrollbar,
section::-webkit-scrollbar {
  background-color: #fff;
  width: 8px;
}


/* background of the scrollbar except button or resizer */

aside::-webkit-scrollbar-track,
section::-webkit-scrollbar-track {
  background-color: #E5E5E5;
}


/* scrollbar itself */

aside::-webkit-scrollbar-thumb {
  background-color: #f9b123;
  border-radius: 8px;
  border: 2px solid #FFF;
}


/* set button(top and bottom of the scrollbar) */

aside::-webkit-scrollbar-button {
  display: none
}

@media only screen and (max-width: 960px) {
  .cardinal-logo {
    position: absolute;
    margin: 8px;
  }
}

table.import-success-table tr[is-fresh]{
  background: #e2f8c1;
}

table.import-failed-table tr[is-fresh]{
  background: #f8c1c1;
}
