.batches-container .webc-datatable--container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid #dee2e6;
    border-radius: 7px;
}

.batches-container .webc-datatable--header {
    background: #F4F5F5;
}

.btn-link {
    display: contents;
}

.fist-table-header {
    border-top-left-radius: 7px;
}

.last-table-header {
    border-top-right-radius: 7px;
}

#code-search {
    border-radius: 4px;
    margin-top: 5px;
    padding: 3px;
    border: 1px solid #e9510e;
    font-size: 0.8rem;
    width: 75%;
}

#code-search:focus {
    outline: none;
}

.validity .fa-ban,
.validity .fa-check {
    display: none;
    font-size: 0.8rem;
}

.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-container .next-page-btn {
    margin-left: 15px;
}

.pagination-container .prev-page-btn {
    margin-right: 15px;
}
