.leaflet-container{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    border: 1.5px solid #E75222;
    margin-top: 1em;
    padding: 0.5em;
}

.epi-card {
    border: 1.5px solid #E75222;
    width: fit-content;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
}

.epi-card .delete-language{
    top: 0;
    position: relative;
    background: none;
    border: none;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    color: #858585;
    right: -7px;

}

.epi-card .delete-language:focus{
    outline: none;
}

.epi-card .delete-language:hover{
    color: #000
}
